Package: gopherdashboard
Version: 0.5.0.0
Section: web
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.28)
Maintainer: someodd <someodd@pm.me>
Description: Server monitoring through Gopher protocol
